<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- prettier-ignore -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %> <% msg.each do |m| %>
    <div
      class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      <%= m %>
    </div>
    <% end %>
    <!-- prettier-ignore -->
    <% end %>
    <%= render 'layouts/navigation_bar' %>
    <%= yield %>
  </body>
</html>
<script>
  function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }
  setInterval(function () {
    document.getElementById("clock").innerText = new Date();
  }, 1000);

  function challenge() {
    let random1 = getRandomInt(1000);
    let random2 = getRandomInt(1000);
    let result = window.prompt(`${random1} + ${random2}`);
    if (result == random1 + random2) {
      localStorage.setItem("visits", 0);
    } else {
      challenge();
    }
  }
  let item = localStorage.getItem("visits");

  if (item == null) {
    challenge();
  }
</script>
